<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunshine.adedoyindare.q_point.app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Vdsplash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Voltagedivider_main"></meta-data>
            <intent-filter>
                <action android:name="com.sunshine.adedoyindare.q_point.VDSPLASH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Fbflash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Fixedbias_main"></meta-data>
            <intent-filter>
                <action android:name="com.sunshine.adedoyindare.q_point.FBFLASH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Ebflash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Emitter_bias"></meta-data>
            <intent-filter>
                <action android:name="com.sunshine.adedoyindare.q_point.EBFLASH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Cfflash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Collectorfeedback_main"></meta-data>
            <intent-filter>
                <action android:name="com.sunshine.adedoyindare.q_point.CFFLASH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Fixedbias_main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
            <intent-filter>
                <action android:name="com.sunshine.adedoyindare.q_point.FIXEDBIAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Voltagedivider_main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
            <intent-filter>
                <action android:name="com.sunshine.adedoyindare.q_point.VOLTAGEDIVIDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Emitter_bias"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
            <intent-filter>
                <action android:name="com.sunshine.adedoyindare.q_point.EMITTERBIAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Collectorfeedback_main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
            <intent-filter>
                <action android:name="com.sunshine.adedoyindare.q_point.COLLECTORFEEDBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detail"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
            <intent-filter>
                <action android:name="com.sunshine.adedoyindare.q_point.Detail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
